modules = ["python-3.13.5", "bash"]
compile = "make"

[nix]
channel = "stable-25_05"
packages = ["glibcLocales", "libxcrypt"]

[deployment]
build = ["sh", "-c", "make"]
run = ["sh", "-c", "python src/coaching_assistant/main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Web App"

[[workflows.workflow]]
name = "Web App"
author = 40986870
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[ports]]
localPort = 5000
externalPort = 80
